<br>
<br>

<div class="accordion" id="accordionExample">

  <!-- DAY 1 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button bg-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4 class="text-white">Day 1 (19 Apr 2021 15:00-23:00): Introduction to Ruby on Rails</h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <h3 class="card-title">1. I followed this amazing tutorial shown below and covers the following topics:</h3>
		
		<br><br><br>

		<div class="row">

			<div class="col-sm-3">
				<ol>
					<li>Introduction & Installation</li>
					<li>First Webpage and MVC Overview</li>
					<li>Application Partial and New Pages</li>
					<li>CRUD Scaffold</li>
					<li>Style App with Bootstrap</li>
					<li>Hadnle Alerts</li>
					<li>Devise User Management</li>
					<li>Style Device Views</li>
					<li>Associations</li>
					...
				</ol>
			</div>

			<div class="col-sm-9" style="padding-left:150px">
				<iframe width="635" height="325" src="https://www.youtube.com/embed/fmyvWz5TUWg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

		</div>

		<br>
		<hr>
		<br>
		
		<h3 class="card-title">2. Installation Process</h3>
		
		<br>

		<table class="table">

			<thead>
				<tr>
				  <th scope="col">Sequence of Installation</th>
				  <th scope="col">Technology</th>
				  <th scope="col">Version</th>
				</tr>
			</thead>

			<tbody>

				<tr>
				  <th scope="row">1</th>
				  <td>Node.js</td>
				  <td>14.16.1</td>
				</tr>

				<tr>
				  <th scope="row">2</th>
				  <td>npm yarn</td>
				  <td>1.22.5</td>
				</tr>

				<tr>
				  <th scope="row">3</th>
				  <td>Git Bash Terminal</td>
				  <td>2.31.1</td>
				</tr>

				<tr>
				  <th scope="row">4</th>
				  <td>Sublime Text Editor</td>
				  <td>3211</td>
				</tr>


				<tr>
				  <th scope="row">5</th>
				  <td >Rails Installer</td>
				  <td>2.3</td>
				</tr>

				<tr>
				  <th scope="row">6</th>
				  <td>Upgrate Ruby</td>
				  <td>2.7.2</td>
				</tr>

				<tr>
				  <th scope="row">7</th>
				  <td>Upgrade Rails</td>
				  <td>6.1.3.1</td>
				</tr>

				<tr>
				  <th scope="row">8</th>
				  <td>Bootstrap</td>
				  <td>5.0</td>
				</tr>

				<tr>
				  <th scope="row">9</th>
				  <td>Devise from RubyGems</td>
				  <td>4.7.3</td>
				</tr>

				<tr>
				  <th scope="row">10</th>
				  <td>Heroku CLI</td>
				  <td>7.52.0</td>
				</tr>

				<tr>
				  <th scope="row">11</th>
				  <td>Upgrade splite3 to PG</td>
				  <td>1.2.3</td>
				</tr>

			</tbody>
		</table>

		<br>
		<hr>
		<br>
		
		<h3 class="card-title">3. Simple Database webpage</h3>
		<br>


		Created a new page to store a table of friends as shown in the Friends Page. Each friend has a <i>first name</i>, <i>last name</i>, <i>email</i>, <i>phone-number</i> and <i>twitter account</i>! Using sqlite I can store such data on the local database. The website provides further functionality such as <b>Create</b>, <b>Read</b>, <b>Update</b> and <b>Delete</b> queries.

		<br>
		<hr>
		<br>
		
		<h3 class="card-title">4. Functional User Management using Devise</h3>
		<br>

		Users can now <b>Register</b> on the Website, <b>Edit their Profile</b> and <b>Delete their Profile</b>. (In the future Administrators may manage and <b>Read</b> this data except sensitive data).

      </div>
    </div>
  </div>


  <!-- DAY 2 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button bg-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4 class="text-white">Day 2 (20 Apr 2021): Introduction to Ruby on Rails (...continued)</h4>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      	<h3 class="card-title">1. I followed this amazing tutorial shown below and covers the following topics:</h3>
		
		<br><br><br>

		<div class="row">

			<div class="col-sm-3">
				<ol>
					<li><del>Introduction & Installation</del></li>
					<li><del>First Webpage and MVC Overview</del></li>
					<li><del>Application Partial and New Pages</del></li>
					<li><del>CRUD Scaffold</del></li>
					<li><del>Style App with Bootstrap</del></li>
					<li><del>Hadnle Alerts</del></li>
					<li><del>Devise User Management</del></li>
					<li><del>Style Device Views</del></li>
					<li>Associations</li>
					<li>More Associations</li>
					<li>Style Modifications</li>
					<li>Fun with the controller</li>
					<li>Git, GitHub and Heroku</li>
				</ol>
			</div>

			<div class="col-sm-9" style="padding-left:150px">
				<iframe width="635" height="325" src="https://www.youtube.com/embed/fmyvWz5TUWg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

		</div>

		<br>
		<hr>
		<br>
		
		<h3 class="card-title">2. Rails Associations</h3>
		
		<br>
		
		<ul>
			<li>I added a <code>user_id (index) of type integer</code> to table of <b>Friends</b>.</li>
			<li>I added another <code>id</code> to hold the user who created a <b>Friend</b>.</li>
			<li>Each user can only <b>Show</b>, <b>Edit</b>, <b>Update</b> and  <b>Destroy</b> friends that ware created only by that account ONLY.</li>
			<li>If a user tries to <b>Show</b>, <b>Edit</b>, <b>Update</b> and  <b>Destroy</b> a friend that was created by another account it will get notified with <i>"Not authorized to edit friend"</i>!</li>
		</ul>

		
		<h3 class="card-title">3. Code and Front-End Clean-Up</h3>
		
		<br>
		<ul>
		  <li>Combined <code>First Name</code> and <code>Last Name</code> to one column called <code>Full Name</code>!</li>
		  <li><code>Full Name</code> is now a <u>link</u> to the <b>Show Page</b> of each <b>Friend</b>!</li>
		  <li>Removed the <b>Edit</b> column since it can be found on the <b>Show Friend</b> Page!</li>
		  <li>Changed <b>Destroy</b> link to a button and renamed it <b>Delete!</b></li>
		</ul>  
		<br>
		Added some more style modifications on <b>Add a new Friend</b>, <b>Edit Friend</b> and <b>Show Friend</b> Pages!


		<br>
		<hr>
		<br>
		
		<h3 class="card-title">4. Git, GitHub and Heroku</h3>
		
		<br>
		<ul>
		  <li>Created an account in <b>GitHub</b> and <b>Heroku</b>!</li>
		  <li>Created a <b>GitHub Repository</b> in the following <a href="https://github.com/loizosVas/Ruby_on_rails">github repo</a>!</li>
		  <li>Created a <b>Heroku App</b> and renamed it, in the following <a href="https://railsfriends46.herokuapp.com/">link</a>!</li>
		  <li>Having issues with converting the <code>sqlite3</code> database gem to <code>pg</code> that is requested by <b>Heroku</b></li>
		  <li>CANNOT deploy project on Heroku. To be continued tomorrow until I get reply from <a href="https://stackoverflow.com/questions/67183372/deploy-ruby-rails-app-on-heroku-doesnt-work-gems-issue-with-sqlite3-and-pg?noredirect=1#comment118757619_67183372">Stack Overflow</a>!</li>
		  <li><b>Possible reason: </b><code>The current issue is that the line endings are windows CR\LF (\r\n) rather than standard unix LF (\n)!</code></li>
		</ul>  
		<br>

      </div>
    </div>
  </div>

  <!-- DAY 3 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button bg-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h4 class="text-white">Day 3 (23 Apr 2021)</h4>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <h3 class="card-title">Planning Ahead</h3>
       
       User Accounts:

       When creating an accound users should get a confirmation link that expires after 30 minutes via email.
       Users should get notified via email when changing a password.
       Users should be able to receive temporary password on their email (Forgot my Password).


       Website Functionality:

       Should have a list of favorite friends.
       Should be able to sort table accordingly for each column (i.e. decending or ascending alphabetical order).

       Project Idea:

       <p>The concept of this wevsite is to create a system where users can add their favourite plants in their list. Ideally that list is going to be used by users to grow their plants in real life. Each plant in the list would have a name and somehow collect data regarding that specific plant, such as:</p>

       <ul>
		  <li>Plant Name</li>
		  <li>Temperature</li>
		  <li>Humidity</li>
		  <li>Water consumption</li>
		  <li>Soil</li>
		  <li>Location</li>
		  <li>Light</li>
		  <li></li>
		  <li></li>
		</ul>  

		<p>The user would be able to connect arduino that would collect data regarding the plant. additionally it can control water and fertilizer that the plant needs!</p>
      </div>
    </div>
  </div>
</div>